<!-- <div nz-row class="items-center justify-between p-5 border border-gray-200 shadow-sm rounded-lg mb-5">
  <h1 class="m-0 font-medium">Thêm món ăn mới</h1>
  <button class="px-3 py-2 bg-primary text-white font-medium rounded-md">
    Create now
  </button>
</div> -->

<div nz-row class="items-center justify-between p-5 border border-gray-200 shadow-sm rounded-lg mb-5">
  <h1 class="m-0 font-medium">Thông tin chi tiết</h1>
  <button class="px-3 py-2 bg-primary text-white font-medium rounded-md">
    Update now
  </button>
</div>

<div nz-row nzGutter="20" class="lg:flex-row flex-row-reverse">
  <div nz-col nzSpan="24" nzLg="16">
    <div class="card shadow-md text-start flex flex-col border border-gray-200 rounded-lg p-5">
      <h2 class="font-medium">General Information</h2>

      <label class="mb-1 text-gray-500">Name</label>
      <input type="text"
        class="mb-5 bg-gray-50 border-[0.1px] border-gray-300 rounded-lg  focus:ring-green2 focus:ring-2  focus:border-primary">

      <label class="mb-1 text-gray-500">Description</label>
      <textarea rows="4" nz-input class="rounded-lg bg-gray-50"></textarea>
    </div>
  </div>

  <div nz-col nzSpan="24" nzLg="8">
    <div class="p-5 h-full flex flex-col rounded-lg text-start border border-gray-200 shadow-md">
      <h2 class="font-medium">Product Media</h2>
      <label class="text-gray-500">Food Picture</label>
      <div (click)="uploadNewImage.click()"
        class="relative h-full overflow-hidden flex-1 flex bg-border-dashed rounded-sm p-3 cursor-pointer">
        <img [src]="foodImage ?? ''" class="m-auto h-40 w-auto object-cover rounded-xl">
        <input #uploadNewImage type="file" (change)="uploadImage($event)" class="hidden">
        <div
          class="absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] flex flex-col justify-center items-center">
          <i class="fa-solid fa-cloud-arrow-up text-gray-300 text-3xl"></i>
          <h3 class="text-gray-300">Select image to upload</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div nz-row nzGutter="20" class="text-start mt-5 pb-5">
  <div nz-col nzLg="16">
    <div class="border border-gray-200 rounded-lg p-5 shadow-lg">
      <h2 class="font-medium">Pricing</h2>
      <div class="w-full flex flex-col text-start">
        <label class="mb-1 text-gray-500">Base price: 100.000 đ</label>
        <input type="number"
          class="mb-5 bg-gray-50 border-[0.1px] border-gray-300 rounded-lg !h-10 focus:ring-green2 focus:ring-2  focus:border-primary">
      </div>

      <div>
        <h2 class="font-medium">Modifier Group</h2>
        <button (click)="showModal()" class="px-3 py-2 bg-primary text-white font-medium rounded-md">
          <i class="fa-solid fa-plus"></i>
          Add new group
        </button>

        <div class="mt-5">
          <div class="flex items-center gap-5">
            <h3 class="font-medium">Modifier group name</h3>
            <h3 class="font-medium">Min: 0</h3>
            <h3 class="font-medium">Max: 1</h3>
            <button>
              <i (click)="showModal()" class="fa-solid fa-pen text-gray-500 hover:text-blue2"></i>
            </button>
            <button>
              <i class="fa-solid fa-trash-can text-gray-500 hover:text-red"></i>
            </button>
          </div>

          <label class="text-gray-400">Modifier</label>
          <div *ngFor="let item of [1,2,3,4]" nz-row nzGutter="20" class="mt-1">
            <div nz-col nzSpan="15">
              <input type="text" placeholder="modifier name"
                class="w-full bg-gray-50 border-[0.1px] border-gray-300 rounded-lg !h-10 focus:ring-green2 focus:ring-2  focus:border-primary">
            </div>
            <div nz-col nzSpan="7">
              <input type="number" placeholder="price"
                class="w-full bg-gray-50 border-[0.1px] border-gray-300 rounded-lg !h-10 focus:ring-green2 focus:ring-2  focus:border-primary">
            </div>
            <div nz-col nzSpan="2">
              <div class="h-full flex gap-1 items-center">
                <button class="text-2xl text-primary font-medium rounded-md">
                  <i class="fa-solid fa-square-plus"></i>
                </button>
                <button class="text-2xl text-red font-medium rounded-md">
                  <i class="fa-solid fa-square-minus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div nz-col nzLg="8">
    <div class="categories-selector border border-gray-200 rounded-lg p-5 shadow-lg w-full flex flex-col text-start">
      <h2 class="font-medium">Categories</h2>
      <label class="mb-1 text-gray-500">Restaurant Categories</label>
      <nz-select nzSize="large" ngModel="lucy">
        <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
        <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
      </nz-select>
    </div>
  </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Add new modifier group" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <label><span class="text-red1">*</span>Name: </label>
    <input type="text" placeholder="Name"
      class="w-full bg-gray-50 border-[0.1px] border-gray-300 rounded-lg !h-10 focus:ring-green2 focus:ring-2  focus:border-primary">

    <div class="flex flex-col mt-5">
      <label><span class="text-red1">*</span>Min - Max :</label>
      <div class="flex items-center">
        <input type="number" placeholder="0"
          class="w-36 bg-gray-50 border-[0.1px] border-gray-300 rounded-lg !h-10 focus:ring-green2 focus:ring-2  focus:border-primary">

        <div class="flex-1 h-[1px] bg-gray-300"></div>

        <input type="number" placeholder="1"
          class="w-36 bg-gray-50 border-[0.1px] border-gray-300 rounded-lg !h-10 focus:ring-green2 focus:ring-2  focus:border-primary">
      </div>
    </div>
  </ng-container>
</nz-modal>
<!-- LAYOUT -->
<!-- <nz-modal [(nzVisible)]="openModal" nzWrapClassName="food-details-wrapper" [nzTitle]="foodDetails.name" nzWidth="60%"
  nzFooter="" (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <div nz-row nzGutter="20" class="mb-5">
      <div nz-col nzSpan="12">
        <ng-container [ngTemplateOutlet]="uploadTemplate"></ng-container>
      </div>
      <div nz-col nzSpan="12">
        <ng-container [ngTemplateOutlet]="foodDetailsTemplate"></ng-container>
      </div>
    </div>
    <div nz-row>
      <textarea rows="4" nz-input [(ngModel)]="foodBio"></textarea>
    </div>
  </ng-container>

  <div *nzModalFooter>
    <button (click)="onSubmit()" nz-button
      class="px-5 py-2 bg-primary text-white border border-transparent font-bold mr-2 rounded-md">
      <i class="fa-solid fa-arrow-up-from-bracket"></i>
      Update
    </button>
    <button nz-button class="px-5 py-2 bg-white border border-blue2 text-blue2 rounded-md">
      <i class="fa-solid fa-rotate"></i>
      Reset
    </button>
  </div>
</nz-modal> -->

<!-- FORM -->
<!-- <ng-template #foodDetailsTemplate>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div nz-row>
      <div nz-col nzSpan="24">
        <div class="flex flex-col">
          <label> <span class="text-red1">*</span> Tên món</label>
          <input type="text" formControlName="name"
            class="border-x-0 border-t-0 border-gray-400 focus:border-primary focus:ring-0">
        </div>
        <div>
          <input type="text" formControlName="price"
            class="border-x-0 border-t-0 border-gray-400 focus:border-primary focus:ring-0">
        </div>
      </div>
    </div>

    <div formArrayName="modifier_groups">
      <div *ngFor="let group of modifierGroups.controls; let i = index" [formGroupName]="i">
        <h3>{{ group?.get('name')?.value }}</h3>
        <div formArrayName="modifier">
          <div *ngFor="let modifier of getModifierControls(i).controls; let j = index" [formGroupName]="j">
            <input type="text" formControlName="name">
            <input type="number" formControlName="price">
          </div>
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="form.invalid">Submit</button>
  </form>

</ng-template> -->

<!-- MODIFIER  GROUPS -->

<!--  -->
<!-- <ng-template #uploadTemplate>
  <div (click)="uploadNewImage.click()" class="relative w-full group">
    <img [src]="foodImage ?? foodDetails.image" alt="Upload img"
      class="w-full aspect-square object-cover rounded-lg cursor-pointer">
    <input #uploadNewImage type="file" (change)="uploadImage($event)" class="hidden">
    <div
      class="w-14 h-14 absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] bg-black opacity-0 rounded-[50%] group-hover:w-full group-hover:h-full group-hover:rounded-none group-hover:opacity-20 cursor-pointer transition-all duration-500">
    </div>
    <i
      class="fa-solid fa-camera text-gray-50 opacity-60 text-8xl absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] cursor-pointer"></i>
  </div>
</ng-template> -->

<!--  -->
<!-- <ng-template #optionsTemplate>

</ng-template> -->