<div nz-row class="items-center justify-between p-5 border border-gray-200 shadow-sm rounded-lg mb-5">
  <h1 class="m-0 font-medium">Thông tin chi tiết</h1>
  <button class="px-3 py-2 bg-primary text-white font-medium rounded-md">
    Update now
  </button>
</div>
<app-form-food-details></app-form-food-details>

<!-- LAYOUT -->
<!-- <nz-modal [(nzVisible)]="openModal" nzWrapClassName="food-details-wrapper" [nzTitle]="foodDetails.name" nzWidth="60%"
  nzFooter="" (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <div nz-row nzGutter="20" class="mb-5">
      <div nz-col nzSpan="12">
        <ng-container [ngTemplateOutlet]="uploadTemplate"></ng-container>
      </div>
      <div nz-col nzSpan="12">
        <ng-container [ngTemplateOutlet]="foodDetailsTemplate"></ng-container>
      </div>
    </div>
    <div nz-row>
      <textarea rows="4" nz-input [(ngModel)]="foodBio"></textarea>
    </div>
  </ng-container>

  <div *nzModalFooter>
    <button (click)="onSubmit()" nz-button
      class="px-5 py-2 bg-primary text-white border border-transparent font-bold mr-2 rounded-md">
      <i class="fa-solid fa-arrow-up-from-bracket"></i>
      Update
    </button>
    <button nz-button class="px-5 py-2 bg-white border border-blue2 text-blue2 rounded-md">
      <i class="fa-solid fa-rotate"></i>
      Reset
    </button>
  </div>
</nz-modal> -->

<!-- FORM -->
<!-- <ng-template #foodDetailsTemplate>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div nz-row>
      <div nz-col nzSpan="24">
        <div class="flex flex-col">
          <label> <span class="text-red1">*</span> Tên món</label>
          <input type="text" formControlName="name"
            class="border-x-0 border-t-0 border-gray-400 focus:border-primary focus:ring-0">
        </div>
        <div>
          <input type="text" formControlName="price"
            class="border-x-0 border-t-0 border-gray-400 focus:border-primary focus:ring-0">
        </div>
      </div>
    </div>

    <div formArrayName="modifier_groups">
      <div *ngFor="let group of modifierGroups.controls; let i = index" [formGroupName]="i">
        <h3>{{ group?.get('name')?.value }}</h3>
        <div formArrayName="modifier">
          <div *ngFor="let modifier of getModifierControls(i).controls; let j = index" [formGroupName]="j">
            <input type="text" formControlName="name">
            <input type="number" formControlName="price">
          </div>
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="form.invalid">Submit</button>
  </form>

</ng-template> -->

<!-- MODIFIER  GROUPS -->

<!--  -->
<!-- <ng-template #uploadTemplate>
  <div (click)="uploadNewImage.click()" class="relative w-full group">
    <img [src]="foodImage ?? foodDetails.image" alt="Upload img"
      class="w-full aspect-square object-cover rounded-lg cursor-pointer">
    <input #uploadNewImage type="file" (change)="uploadImage($event)" class="hidden">
    <div
      class="w-14 h-14 absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] bg-black opacity-0 rounded-[50%] group-hover:w-full group-hover:h-full group-hover:rounded-none group-hover:opacity-20 cursor-pointer transition-all duration-500">
    </div>
    <i
      class="fa-solid fa-camera text-gray-50 opacity-60 text-8xl absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] cursor-pointer"></i>
  </div>
</ng-template> -->

<!--  -->
<!-- <ng-template #optionsTemplate>

</ng-template> -->