<div class="relative w-full h-full overflow-hidden">
  <img src="assets/img/background/bg-merchant.jpg" class="w-full h-auto object-cover">
  <div class="absolute top-0 left-0 bg-black opacity-35 w-full h-full"></div>
  <div class="absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]">
    <div class="w-[70rem] h-[44rem] flex gap-6 bg-white p-6 rounded-lg">
      <div class="relative flex-1">
        <img src="assets/img/banners/login-banner.webp" class="w-full h-full object-cover rounded-2xl">
      </div>
      <div class="flex-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>