<div class="w-full flex items-center justify-between mb-5">
  <div>
    <button (click)="showModal()" class="bg-primary px-3 rounded-md text-white font-medium h-10">
      Add category
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <div class="flex justify-between items-center gap-3 ">
    <div>
      <input [(ngModel)]="searchValue" (ngModelChange)="search($event)" type="text" placeholder="Type the category name"
        class="outline-none rounded-md !shadow-none border border-gray-400  focus:border-green2 focus:ring-primary w-96 h-10">
    </div>

    <button (click)="loadCategories()" class="bg-primary text-white flex h-10 aspect-square rounded-md">
      <i class="fa-solid fa-rotate m-auto" [class.animate-spin]="isLoading"></i>
    </button>
  </div>
</div>

<div class="px-5 pt-5 pb-16 border border-gray-200 rounded-md">
  <nz-table #menuTable [nzData]="categoriesForSearch" nzFrontPagination="true" [nzScroll]="{ y: '500px' }"
    class="h-full">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Total food</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th [nzRight]="true" nzWidth="150px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of menuTable.data">
        <td>
          <img [src]="data.image" alt="" class="w-28 h-28 object-cover rounded-xl">
        </td>
        <td>{{ data.name }}</td>
        <td>{{ data.bio }}</td>
        <td>{{ data.food_items.length }}</td>
        <td>{{ formatDate(data.createdAt) }}</td>
        <td>{{ formatDate(data.updatedAt) }}</td>
        <td [nzRight]="true">
          <div class="flex items-center justify-center m-auto gap-1">
            <button (click)="handleUpdateCategory(data)"
              class="w-10 h-10 text-center bg-primary rounded-md text-white flex">
              <i class="fa-solid fa-pen-nib m-auto"></i>
            </button>
            <button (click)="deleteCategory(data._id)" class="w-10 h-10 text-center bg-red rounded-md text-white flex">
              <i class="fa-regular fa-trash-can m-auto"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <!-- <app-panigation [pageNumber]="categories.length"></app-panigation> -->
</div>


<nz-modal [(nzVisible)]="isVisibleCreateModal" nzWrapClassName="form-create-category" nzTitle="Create category"
  (nzOnCancel)="handleCancel()" (nzOnOk)="handleOke()" [nzOkLoading]="isLoading">
  <ng-container *nzModalContent>

    <ng-container [ngTemplateOutlet]="uploadImageTemplate"></ng-container>

    <label>
      <span class="text-red1">*</span>
      Name:
    </label>
    <input [(ngModel)]="cateDTO.name" type="text" placeholder=""
      class="w-full hover:border-primary bg-gray-50 border-[0.1px] border-gray-300 rounded-lg !h-10 focus:ring-green2 focus:ring-2  focus:border-primary">

    <div class="my-3"></div>

    <label>
      <span class="text-red1">*</span>
      Description:
    </label>
    <input [(ngModel)]="cateDTO.bio" type="text" placeholder=""
      class="w-full hover:border-primary bg-gray-50 border-[0.1px] border-gray-300 rounded-lg !h-10 focus:ring-green2 focus:ring-2  focus:border-primary">
  </ng-container>
</nz-modal>


<ng-template #uploadImageTemplate>
  <label class="relative custum-file-upload w-full mb-5" for="file">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 24 24">
          <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
          <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
          <g id="SVGRepo_iconCarrier">
            <path fill=""
              d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"
              clip-rule="evenodd" fill-rule="evenodd"></path>
          </g>
        </svg>
      </div>
      <div class="text">
        <span>Click to upload image</span>
      </div>
    </div>
    <img [src]="cateImage" class="m-auto h-40 w-auto object-cover rounded-xl">
    <input type="file" id="file" (change)="uploadImage($event)">
  </label>
</ng-template>