<!-- <app-main-header></app-main-header>
<app-main-sidebar></app-main-sidebar>
<p>main-layout works!</p>
<router-outlet></router-outlet> -->

<nz-layout class="h-full">
  <nz-header>
    <app-main-header class="w-full"></app-main-header>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="300px">
      <app-main-sidebar></app-main-sidebar>
    </nz-sider>
    <nz-layout>
      <div class="content-container-layout p-5 shadow-inner h-full bg-white overflow-y-auto overflow-x-hidden">
        <div class="h-full">
          <app-breadcrumb></app-breadcrumb>
          <router-outlet></router-outlet>
        </div>
      </div>
    </nz-layout>
  </nz-layout>
</nz-layout>