:host {
  text-align: center;
}

nz-header {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #fff;
}

nz-sider {
  background-color: #fff;
  color: #fff;
  line-height: 120px;
}

nz-content {
  color: #fff;
  min-height: 120px;
  line-height: 120px;
}

nz-layout nz-layout,
nz-layout:last-child {
  margin: 0;
}

.content-container-layout::-webkit-scrollbar {
  width: 4px;
}

.content-container-layout::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.content-container-layout::-webkit-scrollbar-thumb {
  background-color: #00b14f;
  outline: 1px solid transparent;
}
