.switch {
  position: relative;
  width: fit-content;
  padding: 0 0.8rem;
  margin-right: 1.25rem;
  border-radius: 50px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  font-weight: 600;
  transition: all 0.3s;
  background-color: rgb(238, 83, 83);
}
.switch svg path {
  fill: white;
}

.switch.open {
  background-color: rgb(1, 126, 7);
}
