<nz-drawer #cartDrawer [nzVisible]="opened" [nzPlacement]="'right'" [nzWidth]="'600px'" nzKeyboard="true"
  [nzBodyStyle]="{ overflow: 'auto' }" [nzHeight]="'100%'" (nzOnClose)="closeDrawer()" nzClosable="false"
  [nzWrapClassName]="'ratings-and-reviews'">
  <ng-container *nzDrawerContent>
    <div class="flex flex-col h-full w-full overflow-hidden">
      <div class="h-16 relative flex justify-end items-center pr-5">
        <button class="absolute border-none outline-none top-5 left-5" (click)="closeDrawer()">
          <i class="fa-solid fa-xmark text-[25px] text-gray-500"></i>
        </button>
      </div>

      <div class="h-[1px] w-full bg-gray-200"></div>

      <div class="flex-1 ratings-and-reviews-body w-full overflow-y-scroll p-6">
        <div class="flex flex-col">
          <ng-container *ngIf="isLoading">
            <ng-container *ngFor="let item of [1,2,3,4]">
              <div class="mb-10">
                <nz-skeleton [nzActive]="true" [nzAvatar]="true" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
              </div>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="!isLoading">
            <ng-container *ngFor="let item of [1]" [ngTemplateOutlet]="reviewCardTpl"></ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</nz-drawer>


<ng-template #reviewCardTpl>
  <div class="mb-10">
    <div class="flex flex-col">
      <div class="flex items-center">
        <img src="assets/img/avatars/user.png" class="object-cover w-12 h-12 mr-5">
        <span class="font-bold text-lg">Phúc</span>
        <span class="w-1 h-1 bg-gray-500 rounded-full mx-2"></span>
        <span>21/06/2024</span>
      </div>

      <div>
        <nz-rate [ngModel]="4" nzDisabled></nz-rate>
        <p>Hương vị tạm ổn nhưng phần ăn ít so với các tiệm khác trong khu vực</p>
      </div>
    </div>
  </div>
</ng-template>