<div class="flex items-start mb-5 justify-between">
  <button (click)="createCampaignModal()" class="bg-primary px-3 rounded-md text-white font-medium h-10">
    Add campaign
    <i class="fa-solid fa-plus"></i>
  </button>

  <div class="flex justify-between items-center gap-3 ">
    <div>
      <input [(ngModel)]="searchValue" (ngModelChange)="search($event)" type="text" placeholder="Type the campaign"
        class="outline-none rounded-md !shadow-none border border-gray-400  focus:border-green2 focus:ring-primary w-96 h-10">
    </div>

    <button (click)="loadCampaigns()" class="bg-primary text-white flex h-10 aspect-square rounded-md">
      <i class="fa-solid fa-rotate m-auto" [class.animate-spin]="isLoading"></i>
    </button>
  </div>
</div>
<div class="px-5 pt-5 border border-gray-200 rounded-md">
  <nz-table #menuTable [nzData]="campaignsForSearch" nzFrontPagination="true" [nzScroll]="{ y: '500px' }"
    class="h-full">
    <thead>
      <tr>
        <th nzWidth="200px">Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Limit</th>
        <th>Type</th>
        <th [nzRight]="true" nzWidth="150px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of menuTable.data; let index = index">
        <td>
          <div class="w-20 h-20 rounded-md bg-gray-200 flex justify-center items-center">
            <img *ngIf="data.image !== ''" [src]="data.image" class="w-20 h-20 object-cover rounded-lg">
            <i *ngIf="data.image == ''" class="fa-solid fa-image text-2xl text-gray-50"></i>
          </div>
        </td>
        <td>{{ data.name }}</td>
        <td>{{ data.description }}</td>
        <td>{{ formatDate(data.conditions.start_time.toString()) }}</td>
        <td>{{ formatDate(data.conditions.end_time.toString()) }}</td>
        <td>{{ data.quotas.limit }}</td>
        <td>
          <nz-tag [nzColor]="data.discount.type !=='NET' ? 'blue' : 'orange'">{{ data.discount.type }}</nz-tag>
        </td>
        <td [nzRight]="true">
          <div class="flex items-center m-auto gap-1">
            <button (click)="createCampaignModal(data)"
              class="w-10 h-10 text-center bg-primary rounded-md text-white flex">
              <i class="fa-regular fa-eye m-auto"></i>
            </button>
            <button (click)="deleteCampaign(data._id)" class="w-10 h-10 text-center bg-red rounded-md text-white flex">
              <i class="fa-regular fa-trash-can m-auto"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>