<div nz-row nzGutter="20" class="lg:flex-row flex-row-reverse">
  <div nz-col nzSpan="24" nzLg="16">
    <div class="card shadow-md text-start flex flex-col border border-gray-200 rounded-lg p-5">
      <h2 class="font-medium">General Information</h2>

      <label class="mb-1 text-gray-500">Name</label>
      <input [(ngModel)]="foodItemDTO.name" type="text"
        class="mb-5 hover:border-primary bg-gray-50 border-[0.1px] border-gray-300 rounded-lg  focus:ring-green2 focus:ring-2  focus:border-primary">

      <label class="mb-1 text-gray-500">Description</label>
      <textarea rows="4" nz-input class="rounded-lg bg-gray-50" [(ngModel)]="foodItemDTO.bio"></textarea>
    </div>
  </div>

  <div nz-col nzSpan="24" nzLg="8">
    <div class="p-5 h-full flex flex-col rounded-lg text-start border border-gray-200 shadow-md">
      <h2 class="font-medium">Product Media</h2>
      <label class="text-gray-500">Food Picture</label>
      <div (click)="uploadNewImage.click()"
        class="relative h-full overflow-hidden flex-1 flex bg-border-dashed rounded-sm p-3 cursor-pointer">
        <img [src]="foodImage !== '' ? foodImage : foodItemDTO.image"
          class="m-auto h-40 w-auto object-cover rounded-xl">
        <input #uploadNewImage type="file" (change)="uploadImage($event)" class="hidden">
        <div
          class="absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] flex flex-col justify-center items-center">
          <i class="fa-solid fa-cloud-arrow-up text-gray-300 text-3xl"></i>
          <h3 class="text-gray-300 text-center">Select image to upload</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div nz-row nzGutter="20" class="text-start mt-5 pb-5">
  <div nz-col nzLg="16">
    <div class="border border-gray-200 rounded-lg p-5 shadow-lg">
      <h2 class="font-medium">Pricing</h2>
      <div class="w-full flex flex-col text-start">
        <label class="mb-1 text-gray-500">Base price: {{ (foodItemDTO.price || 0).toLocaleString('vi-VN', {style:
          'currency',
          currency: 'VND'}) }}</label>
        <input [(ngModel)]="foodItemDTO.price" type="number"
          class="mb-5 hover:border-primary bg-gray-50 border-[0.1px] border-gray-300 rounded-lg !h-10 focus:ring-green2 focus:ring-2  focus:border-primary">
      </div>

      <div>
        <h2 class="font-medium">Modifier Group</h2>
        <button (click)="showModal()" class="px-3 py-2 bg-primary text-white font-medium rounded-md">
          <i class="fa-solid fa-plus"></i>
          Add new group
        </button>
        <ng-container [ngTemplateOutlet]="modifierTemplate"></ng-container>
      </div>
    </div>
  </div>

  <div nz-col nzLg="8">
    <div class="categories-selector border border-gray-200 rounded-lg p-5 shadow-lg w-full flex flex-col text-start">
      <h2 class="font-medium">Categories</h2>
      <label class="mb-1 text-gray-500">Restaurant Categories</label>
      <nz-select [(ngModel)]="foodItemDTO.category_id" nzSize="large">
        <nz-option *ngFor="let item of categories" [nzValue]="item._id" [nzLabel]="item.name"></nz-option>
      </nz-select>
    </div>

    <div
      class="categories-selector border mt-5 border-gray-200 rounded-lg p-5 shadow-lg w-full flex flex-col text-start">
      <h2 class="font-medium">Reviews</h2>
      <div *ngFor="let review of reviews">
        <div class="mb-10">
          <div class="flex flex-col">
            <div class="flex">
              <img src="assets/img/avatars/user.png" class="object-cover w-12 h-12 mr-5">
              <div class="flex flex-col">
                <div class="flex items-center">
                  <span class="font-bold text-lg">{{ review.customerInfo?.full_name }}</span>
                  <span class="w-1 h-1 bg-gray-500 rounded-full mx-2"></span>
                  <span>{{ formatDate(review.createdAt) }}</span>
                </div>
                <div>
                  <nz-rate [ngModel]="review.rating" nzDisabled></nz-rate>
                  <p>{{ review.content }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<nz-modal [(nzVisible)]="isVisibleModifierGrs" nzTitle="Add new modifier group" (nzOnCancel)="handleClose()"
  (nzOnOk)="handleSaveModifierGroup()">
  <ng-container *nzModalContent>
    <label>
      <span class="text-red1">*</span>
      Name:
    </label>
    <input [(ngModel)]="modifierGroupForm.name" type="text" placeholder="Name"
      class="w-full mb-5 hover:border-primary bg-gray-50 border-[0.1px] border-gray-300 rounded-lg !h-10 focus:ring-green2 focus:ring-2  focus:border-primary">

    <ng-container *ngIf="!isUpdateMdGrp">
      <label>
        <span class="text-red1">*</span>
        Quantity of modifiers:
      </label>
      <input [(ngModel)]="quantityModifiers" type="number" placeholder="Quantity"
        class="w-full hover:border-primary bg-gray-50 border-[0.1px] border-gray-300 rounded-lg !h-10 focus:ring-green2 focus:ring-2  focus:border-primary">
    </ng-container>

    <div class="flex flex-col mt-5">
      <label><span class="text-red1">*</span>Min - Max :</label>
      <div class="flex items-center">
        <input [(ngModel)]="modifierGroupForm.min" type="number" placeholder="0"
          class="w-36 hover:border-primary bg-gray-50 border-[0.1px] border-gray-300 rounded-lg !h-10 focus:ring-green2 focus:ring-2  focus:border-primary">

        <div class="flex-1 h-[1px] bg-gray-300"></div>

        <input [(ngModel)]="modifierGroupForm.max" type="number" placeholder="1"
          class="w-36 hover:border-primary bg-gray-50 border-[0.1px] border-gray-300 rounded-lg !h-10 focus:ring-green2 focus:ring-2  focus:border-primary">
      </div>
    </div>
  </ng-container>
</nz-modal>


<ng-template #modifierTemplate>
  <ng-container *ngFor="let modifierGr of foodItemDTO.modifier_groups; let mgrIndex = index">
    <div class="mt-5">
      <div class="flex items-center gap-5">
        <h3 class="font-medium">{{ modifierGr.name }}</h3>
        <h3 class="font-medium">Min: {{ modifierGr.min }}</h3>
        <h3 class="font-medium">Max: {{ modifierGr.max }}</h3>
        <button>
          <i (click)="updateModifierGrp(mgrIndex)" class="fa-solid fa-pen text-gray-500 hover:text-blue2"></i>
        </button>
        <button (click)="removeModifierGroup(mgrIndex)">
          <i class="fa-solid fa-trash-can text-gray-500 hover:text-red"></i>
        </button>
      </div>

      <label class="text-gray-400">Modifier</label>
      <div *ngFor="let modifier of modifierGr.modifier; let mdIndex =  index" nz-row nzGutter="20" class="mt-1">
        <div nz-col nzSpan="15">
          <input [(ngModel)]="modifier.name" type="text" placeholder="modifier name"
            class="w-full hover:border-primary bg-gray-50 border-[0.1px] border-gray-300 rounded-lg !h-10 focus:ring-green2 focus:ring-2  focus:border-primary">
        </div>
        <div nz-col nzSpan="7">
          <input [(ngModel)]="modifier.price" type="number" placeholder="price"
            class="w-full hover:border-primary bg-gray-50 border-[0.1px] border-gray-300 rounded-lg !h-10 focus:ring-green2 focus:ring-2  focus:border-primary">
        </div>
        <div nz-col nzSpan="2">
          <div class="h-full flex gap-1 items-center">
            <button (click)="removeModifier(mdIndex, mgrIndex)" class="text-2xl text-red font-medium rounded-md">
              <i class="fa-solid fa-square-minus"></i>
            </button>
          </div>
        </div>
      </div>

      <button (click)="addModifier(modifierGr)" class="px-3 py-2 bg-blue2 text-white font-medium rounded-md mt-3">
        <i class="fa-solid fa-plus"></i>
        Add new modifier
      </button>
    </div>
  </ng-container>

</ng-template>