<div class="pending-order-card border-y-0 border-r-0 border-primary border-2 rounded-t-lg overflow-hidden">
  <div class="flex items-center justify-between p-5 bg-gray-100">
    <nz-tag [nzColor]="'blue'" class="uppercase">{{ order.customer.full_name }}</nz-tag>
    <span class="text-blue2">Order time: {{ formatDate(order.order_time) }}</span>
  </div>
  <!--  -->
  <div class="p-5 flex items-start justify-between">
    <ng-container>
      <div class="flex flex-col flex-1">
        <ng-container *ngFor="let item of order.items">
          <div class="flex mb-5">
            <img [src]="item.foodDetails.image" onerror="this.scr='assets/img/foods/food-default.webp'"
              class="w-24 h-24 aspect-square object-cover rounded-md mt-2">

            <div class="h-full flex-1 px-10">
              <div>
                <div class="flex items-center justify-between border-x-0 border-t-0 border-gray-200 py-2 w-full border">
                  <span>Base price: </span>
                  <span>{{item.foodDetails.price.toLocaleString("vi-VN", { style: "currency", currency:"VND" })}}</span>
                </div>
              </div>
              <ng-container *ngFor="let modifier of item.modifiers; let last = last; let i = index;">
                <div>
                  <div class="flex items-center justify-between border-x-0 border-t-0 border-gray-200 py-2 w-full"
                    [ngClass]="last ? 'border-none': 'border'">
                    <span>{{modifier.name}}: </span>
                    <span>{{modifier.price.toLocaleString("vi-VN", { style: "currency", currency:"VND" })}}</span>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <div class="order-summary-card flex flex-col items-start gap-2 w-[30%]">
      <div class="flex items-center justify-between border border-x-0 border-t-0 border-gray-200 py-2 w-full">
        <span class="font-bold">Subtotal: </span>
        <span>{{ order.order_cost.toLocaleString("vi-VN", { style: "currency", currency:"VND" }) }}</span>
      </div>
      <div class="py-2 flex items-center justify-between w-full">
        <span class="font-bold">Delivery fare: </span>
        <span>{{ order.delivery_fare.toLocaleString("vi-VN", { style: "currency", currency:"VND" })}}</span>
      </div>
      <br />
      <div class="py-2 flex items-center justify-between w-full">
        <span class="font-bold">Total:</span>
        <span>{{ order.bill.total.toLocaleString("vi-VN", { style: "currency", currency:"VND" }) }}</span>
      </div>
    </div>
  </div>

  <div class="w-fit float-end p-5">
    <div class="flex items-center gap-2">
      <button (click)="acceptOrder(order._id)" *ngIf="orderTypeIsPending"
        class="px-3 py-2 rounded-md bg-blue2 text-white font-medium">
        Accept
      </button>

      <button (click)="completeOrder(order._id)" *ngIf="!orderTypeIsPending"
        class="px-3 py-2 rounded-md bg-primary text-white font-medium">
        Completed
      </button>

      <button (click)="rejectOrder(order._id)" *ngIf="orderTypeIsPending"
        class="px-3 py-2 rounded-md bg-red text-white font-medium">
        Reject
      </button>
    </div>
  </div>

</div>


<nz-modal [(nzVisible)]="isCancelReason" nzTitle="Reject reason" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  nzWrapClassName="cancel_reason_modal">
  <ng-container *nzModalContent>
    <input required type="text"
      class="border-gray-300 w-full focus:ring-0 ring-0 focus:border-gray-300 px-5 py-3 text-sm font-normal outline-none rounded-lg"
      [(ngModel)]="cancel_reason" [placeholder]="'reason'">
  </ng-container>
</nz-modal>