<app-list-total-value-card></app-list-total-value-card>
<div nz-row nzGutter="20">
  <div nz-col nzSpan="16">
    <app-spline-chart></app-spline-chart>
  </div>

  <div nz-col nzSpan="8">
    <app-circle-chart></app-circle-chart>
  </div>
</div>

<div nz-row nzGutter="20" class="mt-5 pb-5">
  <div nz-col nzSpan="16">
    <app-map [zoomValue]="15" [locationMarkers]="[locationMarker]"></app-map>
  </div>
  <div nz-col nzSpan="8">
    <!-- <app-rating-points-card></app-rating-points-card> -->
    <app-top-products></app-top-products>
  </div>
</div>