<div class="pending-order-card border-y-0 border-r-0 border-primary border-2 rounded-t-lg overflow-hidden">
  <div class="flex items-center justify-between p-5 bg-gray-100">
    <nz-tag [nzColor]="'blue'" class="uppercase">trịnh hoàng phúc</nz-tag>
    <span class="text-blue2">Expected delivery by 25-4-2024 12:00 PM</span>
  </div>
  <!--  -->
  <div class="p-5 flex items-start justify-between">
    <div>
      <img src="assets/img/foods/food-default.webp" class="w-32 aspect-square object-cover rounded-md">
    </div>

    <div class="h-full flex-1 px-10">
      <ng-container *ngFor="let item of [1,2,3,4]; let last = last; let i = index;">
        <div>
          <div class="flex items-center justify-between border-x-0 border-t-0 border-gray-200 py-2 w-full"
            [ngClass]="last ? 'border-none': 'border'">
            <span>option {{i}}: </span>
            <span>200.000 đ</span>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="order-summary-card flex flex-col items-start gap-2 w-[30%]">
      <div class="flex items-center justify-between border border-x-0 border-t-0 border-gray-200 py-2 w-full">
        <span>Subtotal: </span>
        <span>200.000 đ</span>
      </div>
      <div class="py-2 flex items-center justify-between w-full">
        <span>Delivery fee: </span>
        <span>0 đ</span>
      </div>
      <br />
      <div class="py-2 flex items-center justify-between w-full">
        <span class="font-bold">Total:</span>
        <span>200.000 đ</span>
      </div>
    </div>
  </div>

  <div class="w-fit float-end p-5">
    <div class="flex items-center gap-2">
      <button class="px-3 py-2 rounded-md bg-blue2 text-white font-medium">
        Accept
      </button>
      <button class="px-3 py-2 rounded-md bg-red text-white font-medium">
        Reject
      </button>
    </div>
  </div>

</div>