/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.variable.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100% !important;
}
body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb {
  background-color: #00b14f;
  outline: 1px solid transparent;
}
/* body::-webkit-scrollbarbody {
  @apply fixed left-0 top-0 w-full overflow-y-scroll;
} */
a {
  @apply text-black hover:text-black;
}
.sectionContainer {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  @apply md:px-10 px-4;
}

h1 {
  @apply text-[2em];
}
h2 {
  @apply text-[1.5em];
}
h3 {
  @apply text-[1.17em];
}
h4 {
  @apply text-[1em];
}
h5 {
  @apply text-[0.83em];
}
h6 {
  @apply text-[0.75em];
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight mb-[0.25em];
}
