<div nzMode="inline" class="h-full sidebar-menu flex flex-col text-white">
  <a [routerLink]="['/dashboard']" routerLinkActive="sidebar-item-active">
    <span>
      <i class="fa-solid fa-gauge mr-3 text-lg"></i>
      Dashboard
    </span>
  </a>
  <a [routerLink]="['/category']" routerLinkActive="sidebar-item-active">
    <span>
      <i class="fa-solid fa-layer-group mr-3 text-lg"></i>
      Categogry
    </span>
  </a>
  <a [routerLink]="['/restaurant']" routerLinkActive="sidebar-item-active">
    <span>
      <i class="fa-solid fa-shop mr-3 text-lg"></i>
      Menu
    </span>
  </a>
  <a [routerLink]="['/order-history']" routerLinkActive="sidebar-item-active">
    <span>
      <i class="fa-brands fa-shopify mr-3 text-lg"></i>
      Order
    </span>
  </a>
  <a [routerLink]="['/campaign']" routerLinkActive="sidebar-item-active">
    <span>
      <i class="fa-solid fa-percent mr-3 text-lg"></i>
      Campaign
    </span>
  </a>
</div>