<div nzMode="inline" class="h-full sidebar-menu flex flex-col text-white">
  <a [routerLink]="['/dashboard']" routerLinkActive="sidebar-item-active">
    <span>
      <i class="fa-solid fa-gauge mr-3 text-lg"></i>
      Dashboard
    </span>
  </a>
  <a [routerLink]="['/restaurant']" routerLinkActive="sidebar-item-active">
    <span>
      <i class="fa-solid fa-shop mr-3 text-lg"></i>
      Nhà hàng
    </span>
  </a>
  <a [routerLink]="['/order-history']" routerLinkActive="sidebar-item-active">
    <span>
      <i class="fa-brands fa-shopify mr-3 text-lg"></i>
      Đơn hàng
    </span>
  </a>
  <a [routerLink]="['/pending-orders']" routerLinkActive="sidebar-item-active">
    <span>
      <i class="fa-solid fa-clock-rotate-left mr-3 text-lg"></i>
      Đơn đang chờ
    </span>
  </a>
</div>