<div class="w-full flex items-center justify-between mb-5">
  <div>
    <a [routerLink]="['create-food']">
      <button class="bg-primary px-3 rounded-md text-white font-medium h-10">
        Thêm món mới
        <i class="fa-solid fa-plus"></i>
      </button>
    </a>
  </div>
  <div class="flex justify-between items-center gap-3">
    <div>
      <input [(ngModel)]="searchValue" (ngModelChange)="search($event)" type="text" placeholder="Type the dish name"
        class="outline-none rounded-md !shadow-none border border-gray-400  focus:border-green2 focus:ring-primary w-96 h-10">
    </div>
    <!-- <button class="bg-white text-gray-500 border border-gray-500 px-3 rounded-md  font-medium h-10 flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6 mr-1">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
      </svg>

      <span>Bộ lọc</span>
    </button> -->

    <button (click)="loadMenu()" class="bg-primary text-white flex h-10 aspect-square rounded-md">
      <i class="fa-solid fa-rotate m-auto" [class.animate-spin]="isLoading"></i>
    </button>
  </div>
</div>

<div class="text-start restaurant-categories h-[50px]">
  <nz-segmented nzSize="large" [nzOptions]="options" (nzValueChange)="handleCategoryChange($event)"></nz-segmented>
</div>
<div class="px-5 pt-5 border border-gray-200 rounded-md">
  <nz-table #menuTable [nzData]="menuForSearch.length > 0 ? getFoodItemsByCategory : []" nzFrontPagination="true"
    [nzScroll]="{ y: '500px' }" class="h-full">
    <thead>
      <tr>
        <th nzWidth="200px">Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th [nzRight]="true" nzWidth="150px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of menuTable.data; let index = index">
        <td>
          <div class="w-20 h-20 rounded-md bg-gray-200 flex justify-center items-center">
            <img *ngIf="data.image !== ''" [src]="data.image" class="w-20 h-20 object-cover rounded-lg">
            <i *ngIf="data.image == ''" class="fa-solid fa-image text-2xl text-gray-50"></i>
          </div>
        </td>
        <td>{{ data.name }}</td>
        <td>{{ data.bio }}</td>
        <td>{{ data.price.toLocaleString("vi-VN", { style: "currency", currency: "VND" }) }}</td>
        <td>{{ formatDate(data.createdAt) }}</td>
        <td>{{ formatDate(data.updatedAt) }}</td>
        <td [nzRight]="true">
          <div class="flex items-center m-auto gap-1">
            <a [routerLink]="['category', data.category_id, 'food-details', data._id]">
              <button class="w-10 h-10 text-center bg-primary rounded-md text-white flex">
                <i class="fa-regular fa-eye m-auto"></i>
              </button>
            </a>
            <button (click)="deleteFoodItem(data._id, data.category_id!)"
              class="w-10 h-10 text-center bg-red rounded-md text-white flex">
              <i class="fa-regular fa-trash-can m-auto"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <!-- <app-panigation *ngIf="menu.length > 0" [pageNumber]="20"></app-panigation> -->
</div>